/////////////////////////////////////
//GENERALLY
/////////////////////////////////////
#footer {
  padding: 32px 0;
  background-color: #FFFCF6;

  li {
    padding: 8px 0;
    a {
      font-family: $font-family1;
      font-weight: 700;
      font-size: 12px;
      color: $brown;
      text-transform: uppercase;
    }
  }

  nav {
    @include clearfix();
  }

  .copyright {
    font-family: arial, helvetica, sans-serif;
    color: #888;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 28px;
    margin-top: 10px;
  }
  .design {
    p {
      font-family: arial, helvetica, sans-serif;
      color: #888;
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 0;
    }
  }
}


/////////////////////////////////////
//RESPONSIVE
/////////////////////////////////////
@include media-breakpoint-down(md) {
  #footer {
    nav > div {
      &:nth-of-type(odd) {
        li {
          text-align: right;
          padding-right: 15px;
        }
      }
      &:nth-of-type(even) {
        li {
          padding-left: 15px;
        }
      }
    }
  }
} //below 992px

@include media-breakpoint-down(sm) {
  #footer {
    .copyright {
      text-align: center;
      margin-top: 30px;
    }
    .design {
      text-align: center;
    }
  }
} //below 768px