/////////////////////////////////////
//GENERALLY
/////////////////////////////////////
#header {
  background-color: $green-light;
  border-bottom: 4px solid $white;
  height: 60px;
  position: relative;
  z-index: 3;
  &:before {
    content: url('../images/img_left-header-leaves.svg');
    position: absolute;
    left: -8px; top: -7px;
    z-index: 1;
    pointer-events: none;
  }
  &:after {
    content: url('../images/img_right-header-leaves.svg');
    position: absolute;
    right: -10px; top: -7px;
    z-index: 1;
    pointer-events: none;
  }

  .nav-trigger {
    display: none;
    position: absolute;
    width: 30px; height: 30px;
    left: 28px; top: 17px;
    cursor: pointer;
    .nav-bar {
      display: inline-block;
      height: 3px;
      background-color: $brown;
      position: absolute;
      width: 20px;
      top: 7px; left: 5px;
      &:before,
      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 20px; height: 3px;
        background-color: $brown;
      }
      &:before {
        top: 6px;
      }
      &:after {
        top: 12px;
      }
    }
  }

  .logo {
    position: absolute;
    @include center(x);
    top: 10px;
  }

}


/////////////////////////////////////
//RESPONSIVE
/////////////////////////////////////
@include media-breakpoint-down(md) {
  #header {
    .nav-trigger {
      display: inline-block;
    }
    .logo {
      width: 200px;
    }
    &:before,
    &:after {
      display: none;
    }

    .nav-holder {
      position: fixed;
      z-index: 5;
      top: 0; left: -100%;
      width: 260px;
      background-color: $white;
      border-radius: 0 4px 4px 0;
      text-align: left;
      padding: 65px 20px 65px 55px;
      max-height: 100%;
      @include transition(left, 0.4s);
      background-image: url('../images/border-end-right-top.png'), url('../images/border-end-right-bottom.png'), url('../images/border-acorn.png');
      background-repeat: no-repeat;
      background-position: left 15px top 20px, left 15px bottom 20px, left 17px center;
      background-size: 45px 30px, 45px 35px, 25px 25px;
      &:before {
        content: '';
        position: absolute;
        top: 50px; bottom: calc(50% + 8px); left: 28px;
        width: 2px;
        background-color: #e7dbc1;
      }
      &:after {
        content: '';
        position: absolute;
        top: calc(50% + 8px); bottom: 50px; left: 28px;
        width: 2px;
        background-color: #e7dbc1;
      }
    }

    .nav-close {
      text-transform: uppercase;
      font-size: 15px;
      line-height: 29px;
      font-family: $font-family1;
      font-weight: 700;
      color: #ae006d;
      position: absolute;
      right: 25px; top: 25px;
      cursor: pointer;
    }

    .nav-overlay {
      position: fixed;
      width: 100%; height: 100%;
      pointer-events: none;
      left: 0; top: 0;
      background-color: rgba($black, 0.75);
      z-index: 4;
      opacity: 0; visibility: hidden;
      @include transition(opacity, 0.4s);
    }

    .nav-block {
      display: none;
      &.active {
        display: block;
      }
    }

    nav {
      position: relative;
      ul {
        li {
          display: block;
          padding: 15px 0;
        }
        a {
          color: $brown;
          font-size: 15px;
          line-height: 29px;
          font-family: $font-family1;
          font-weight: 700;
          text-transform: uppercase;
          img {
            display: none;
          }
          .fa {
            color: $red;
            display: inline-block;
            margin-left: 5px;
            position: relative;
            top: -1px;
          }
        }
      }
    }

    .games {
      margin-top: 10px;
      a {
        color: $brown;
        font-size: 15px;
        line-height: 29px;
        font-family: $font-family1;
        font-weight: 700;
        text-transform: uppercase;
        span {
          display: block;
          margin-top: 5px;
          margin-bottom: 10px;
        }
      }
    }
  }

  .nav-active {
    #header {
      .nav-holder {
        left: 0;
      }
      .nav-overlay {
        opacity: 1; visibility: visible;
      }
    }
  }

  @media (orientation: landscape){
    #header {
      .nav-holder {
        padding: 50px 25px 50px 55px;
      }
      nav {
        ul {
          li {
            display: block;
            padding: 5px 0;
          }
        }
      }
    }
  }
} //below 992px

@include media-breakpoint-up(lg) {
  #header {
    .nav-trigger,
    .nav-close,
    .games{
      display: none;
    }
    .logo {
      width: 200px;
    }

    nav {
      position: relative;
      top: 17px;
      ul {
        display: flex;
        &.left {
          width: 50%;
          float: left;
          padding-right: 150px;
        }
        &.right {
          width: 50%;
          float: left;
          padding-left: 150px;
        }
        li {
          flex: 1;
          text-align: center;
          &.icon {
            flex-basis: 40px;
            flex-grow: 0;
          }
        }
        a {
          color: $brown;
          font-size: 12px;
          font-family: $font-family1;
          font-weight: 700;
          text-transform: uppercase;
          .text {
            display: none;
          }
          .fa {
            display: none;
          }
        }
      }
    }
  }
} // 992px and above