/////////////////////////////////////
//GENERALLY
/////////////////////////////////////
.leaves-holder {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    height: 100%; width: 90px;
    left: -28px; top: 0;
    background: url('../images/leaves-left.png') repeat-y center top 60px;
    background-size: 100%;
    pointer-events: none;
    z-index: 1;
  }
  &:after {
    content: '';
    position: absolute;
    height: 100%; width: 90px;
    right: -28px; top: 0;
    background: url('../images/leaves-right.png') repeat-y center top 60px;
    background-size: 100%;
    pointer-events: none;
    z-index: 1;
  }
}  //leaves (left and right)

.wrapper {
  padding-top: 60px;
  margin: 0 auto;
  background: $blue-light url('../images/clouds.png') repeat-y center top 60px;
  background-size: contain;
  padding-bottom: 200px;
} //this block holds clouds background

.doll {
  text-align: center;
  padding: 0 10px;
  position: relative;
  padding-top: 30px;

  .rarity {
    font-family: clarendon;
    font-size: 14px;
    letter-spacing: -1px;
    position: absolute;
    top: 0;
    @include center(x);
    width: 150px;
  }

  .image-holder {
    height: 130px;
    img {
      max-height: 120px;
      position: relative;
      @include center(xy);
      display: block;
    }
  }
  .about-doll {
    width: 120px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    font-family: clarendon;
    .name {
      display: block;
      font-size: 18px;
      line-height: 17px;
      margin-top: 12px;
    }
    .kind {
      display: block;
      font-size: 10px;
      line-height: 10px;
    }
  }

  &.common {
    .about-doll {
      background-image: url('../images/label_common.svg');
      color: #E6226A;
    }
  }
  &.rare {
    .about-doll {
      background-image: url('../images/label_rare.svg');
      color: #E6226A;
    }
    .rarity {
      color: #FFF1D3;
    }
  }
  &.super-rare {
    .about-doll {
      background-image: url('../images/label_super-rare.svg');
      color: #FFEEC9;
    }
    .rarity {
      color: #02B6C4;
    }
  }
  &.ultra-rare {
    .about-doll {
      background-image: url('../images/label_ultra-rare.svg');
      color: #FFF9AF;
    }
    .rarity {
      color: #BC8CBE;
    }
  }
  &.supreme-rare {
    .about-doll {
      background-image: url('../images/label_supreme-rare.svg');
      color: #9C005A;
    }
    .rarity {
      color: #E96DA9;
    }
  }
  &.golden-rare {
    .about-doll {
      background-image: url('../images/label_golden-acorn.svg');
      color: #E6226A;
    }
    .rarity {
      color: #FFCA42;
    }
  }
} //here is explained how to set classes for rereness of dolls

.border-t1 {
  position: relative;
  height: 62px;
  background-image: url('../images/border-end-down.png'), url('../images/border-end-up.png'), url('../images/border-acorn.png');
  background-repeat: no-repeat;
  background-position: left bottom, right top, center;
  background-size: 30px 45px, 30px 45px, 25px 25px;
  pointer-events: none;
  &:before {
    content: '';
    position: absolute;
    top: 30px; right: calc(50% + 8px); bottom: 30px; left: 30px;
    background-color: #e7dbc1;
  }
  &:after {
    content: '';
    position: absolute;
    top: 30px; right: 30px; bottom: 30px; left: calc(50% + 8px);
    background-color: #e7dbc1;
  }
} //border type 1
.border-t2 {
  text-align: center;
  .border-position-helper {
    display: inline-block;
    position: relative;
    padding: 0 50px;
  }
  .left-border {
    height: 62px; width: 3000px;
    position: absolute;
    display: inline-block;
    right: 100%; top: -10px;
    background: url('../images/border-end-up.png') no-repeat right top;
    background-size: 30px 45px;
    pointer-events: none;
    &:before {
      content: '';
      position: absolute;
      top: 30px; right: 30px; bottom: 30px; left: 0;
      background-color: #e7dbc1;
    }
  }
  .right-border {
    height: 62px; width: 3000px;
    position: absolute;
    display: inline-block;
    left: 100%; top: -10px;
    background: url('../images/border-end-down.png') no-repeat left bottom;
    background-size: 30px 45px;
    pointer-events: none;
    &:before {
      content: '';
      position: absolute;
      top: 30px; right: 0; bottom: 30px; left: 30px;
      background-color: #e7dbc1;
    }
  }
  @include media-breakpoint-only(xs) {
    .left-border,
    .right-border {
      display: none;
    }
    position: relative;
    height: 62px;
    background-image: url('../images/border-end-down.png'), url('../images/border-end-up.png'), url('../images/border-acorn.png');
    background-repeat: no-repeat;
    background-position: left bottom, right top, center;
    background-size: 30px 45px, 30px 45px, 25px 25px;
    margin-top: 82px;
    .border-position-helper {
      top: -72px
    }
    &:before {
      content: '';
      position: absolute;
      top: 30px; right: calc(50% + 8px); bottom: 30px; left: 30px;
      background-color: #e7dbc1;
    }
    &:after {
      content: '';
      position: absolute;
      top: 30px; right: 30px; bottom: 30px; left: calc(50% + 8px);
      background-color: #e7dbc1;
    }
  }
} //border type 2 (with button in the middle)

.block-title {
  font-size: 30px;
  font-family: clarendon;
  color: $red;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 28px;
  padding-left: 15px;
  background: url('../images/header-decor.png') no-repeat left top 9px;
  background-size: 12px 16px;
  margin-bottom: 10px;
}
p {
  font-family: futura;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 19px;
}


/////////////////////////////////////
//JUMBOTRON SECTION
/////////////////////////////////////
.jumbotron {
  height: 420px;
  background: url('../images/kids.jpg') no-repeat center bottom;
  background-size: cover;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    bottom: -60px; left: 0;
    height: 80px; width: 100%;
    background: url('../images/jumbotron-flags.png') repeat center;
    z-index: 1;
  }
  a {
    display: inline-block;
    position: relative;
    @include center(y);
  }
}

/////////////////////////////////////
//ONE SERIE SECTION (SERIE 3)
/////////////////////////////////////
.one-serie {
  padding-top: 30px;
  .img-serie {
    padding-top: 80px;
  }
  .dolls-series3 {
    margin-top: 30px;
  }
}


/////////////////////////////////////
//ONE SERIE SECTION (SERIES 1 and 2)
/////////////////////////////////////
.two-series {
  position: relative;
  padding: 20px 0;
  &:before {
    content: url('../images/img_air_balloon.svg');
    position: absolute;
    @include center(x);
    bottom: 0;
    width: 49px; height: 68px;
  }
  .series-block {
    text-align: center;
    padding-top: 20px;
  }
}


/////////////////////////////////////
//FAMILIES SECTION
/////////////////////////////////////
.families {
  padding: 20px 0 60px 0;
  .section-title {
    text-align: center;
  }
  .slick-slider {
    margin-top: 30px;
  }
}


/////////////////////////////////////
//ACCESSORIES SECTION
/////////////////////////////////////
.accessories {
  padding-top: 20px;
  padding-bottom: 20px;
  .block-title {
    margin-top: 50px;
  }
  .button-holder {
    position: relative;
    top: -40px;
  }
  @include media-breakpoint-only(lg) {
    .block-title {
      margin-top: 80px;
    }
  }
  @include media-breakpoint-only(md) {
    .block-title {
      margin-top: 20px;
    }
  }
}


/////////////////////////////////////
//NEWSLETTER SECTION
/////////////////////////////////////
.newsletter {
  margin-top: -200px;
  position: relative;
  background-size: cover;
  padding-top: 40px;
  @include media-breakpoint-down(md) {
    height: 390px;
    img {
      height: 350px;
      width: auto;
      max-width: 99999px;
      position: absolute;
      right: 0; bottom: 0;
    }
  }
  .newsletter-form-holder {
    position: absolute;
    @include center(x);
    bottom: 60px;
    padding: 0 40px;
    .newsletter-title {
      font-family: clarendon;
      font-size: 20px;
      margin-bottom: 18px;
      text-transform: uppercase;
      text-align: center;
      color: $white;
    }
    form {
      position: relative;
      padding-right: 160px;
      width: 500px;
    }
    input {
      line-height: 20px;
      padding: 11px 20px;
      width: 100%;
      border: none;
      border-radius: 4px;
      font-size: 12px;
      font-family: $font-family1;
      font-weight: 700;
      color: #E1D3B4;
      @include placeholder(){
        color: #E1D3B4;
        opacity: 1;
      }
    }
    button {
      position: absolute;
      right: 0; top: 0;
      width: 140px;
    }
  }
}


/////////////////////////////////////
//RESPONSIVE
/////////////////////////////////////
@include media-breakpoint-down(sm) {
  .leaves-holder {
    text-align: center;
  }
  .wrapper {

  }

  .one-serie {
    .img-serie {
      padding-top: 30px;
    }
  }

  .two-series {
    position: relative;
    padding: 20px 0;
    &:before {
      content: url('../images/img_air_balloon.svg');
      position: absolute;
      @include center(x);
      bottom: 0;
      width: 49px; height: 68px;
    }
    .series-block {
      text-align: center;
      padding-top: 20px;
    }
  }

  .families {
    padding: 20px 0 20px 0;
    .section-title {
      text-align: center;
    }
    .slick-slider {
      margin-top: 30px;
    }
  }

  .newsletter {
    margin-top: -200px;
    position: relative;
    background-size: cover;
    padding-top: 40px;
    @include media-breakpoint-down(md) {
      height: 390px;
      img {
        height: 350px;
        width: auto;
        max-width: 99999px;
        position: absolute;
        right: 0; bottom: 0;
      }
    }
    .newsletter-form-holder {
      position: absolute;
      @include center(x);
      bottom: 60px;
      padding: 0 40px;
      .newsletter-title {
        font-family: clarendon;
        font-size: 20px;
        margin-bottom: 18px;
        text-transform: uppercase;
        text-align: center;
        color: $white;
      }
      form {
        position: relative;
        padding-right: 160px;
        width: 500px;
      }
      input {
        line-height: 20px;
        padding: 11px 20px;
        width: 100%;
        border: none;
        border-radius: 4px;
        font-size: 12px;
        font-family: $font-family1;
        font-weight: 700;
        @include placeholder(){
          color: #E1D3B4;
          opacity: 1;
        }
      }
      button {
        position: absolute;
        right: 0; top: 0;
        width: 140px;
      }
    }
  }
} //bellow 768px

@include media-breakpoint-down(xs) {
  .jumbotron {
    a {
      display: none;
    }
  }

  .two-series {
    &:before {
      display: none;
    }
  }

  .newsletter {
    .newsletter-form-holder {
      padding: 0 40px;
      width: 100%;
      bottom: 30px;
      .newsletter-title {;
        font-size: 12px;
      }
      form {
        position: relative;
        padding-right: 0;
        width: 100%;
      }
      button {
        position: relative;
        margin: 20px auto 0 auto;
        display: block;
      }
    }
  }

  .text-holder {
    padding: 0 30px;
    .block-title {
      display: inline;
      background: url('../images/header-decor.png') no-repeat left top 9px;
      background-size: 12px 16px;
    }
    p {
      margin-top: 20px;
    }
  }
} //below 576px