@font-face {
  font-family: 'clarendon';
  src: url('../fonts/clarendon/clarendon_regular-webfont.woff2') format('woff2'),
  url('../fonts/clarendon/clarendon_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'futura';
  src: url('../fonts/futura/futura_medium_bt-webfont.woff2') format('woff2'),
  url('../fonts/clarendon/futura_medium_bt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}