/////////////////////////////////////
//GENERALLY
/////////////////////////////////////
input,
select,
textarea {
  font-size: 100%; /* Corrects font size not being inherited in all browsers */
  margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}
textarea {
  overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top; /* Improves readability and alignment in all browsers */
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

/////////////////////////////////////
//BUTTONS
/////////////////////////////////////
button.button,
a.button {
  font-family: $font-family1;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  color: $white;
  line-height: 18px;
  padding: 12px 30px;
  position: relative;
  border-radius: 4px;
  min-width: 120px;
  text-align: center;
  border: none;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    top: 2px; right: 2px; bottom: 2px; left: 2px;
    border: 2px dashed rgba($white,0.5);
    border-radius: 4px;
  }
  &.red {
    background-color: $red;
  }
  &.marble {
    background-color: $marble;
  }
  &.green {
    background-color: $green;
  }
  &.green-light {
    background-color: $green-light;
  }
  &.green-dark {
    background-color: $green-dark;
  }
  &.decoration-acorns {
    &:after {
      content: url('../images/img_button_acorns.svg');
      position: absolute;
      right: -37px; top: -8px;
      width: 60px; height: 60px;
      pointer-events: none;
    }
  }
  &.decoration-mushrooms {
    &:after {
      content: url('../images/img_button-mushrooms.svg');
      position: absolute;
      right: -37px; top: -8px;
      width: 60px; height: 60px;
      pointer-events: none;
    }
  }
  &.decoration-flower {
    &:after {
      content: url('../images/img_button_flower.svg');
      position: absolute;
      right: -37px; top: -8px;
      width: 60px; height: 60px;
      pointer-events: none;
    }
  }
} //here is explained how to set classes for all types of buttons (colors and decorations)
.buttons {
  margin-top: 100px;
  .button {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}