/////////////////////////////////////
//GENERALLY
/////////////////////////////////////
.c-slider {
  position: relative;
}

.c-slider-arr {
  position: absolute;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  @include center(y);
  font-size: 24px;
  color: #e96da9;
  width: 30px; line-height: 40px;
  @include transition-all(0.4s);
  z-index: 2;
  &:hover {
    color: #e96da9;
    opacity: 0.5;
  }
  &.prev-slide {
    left: -20px;
  }
  &.next-slide {
    right: -20px;
  }
}

.slick-slide {
  padding: 0 10px;
  text-align: center;
  img {
    display: inline-block;
  }
}

.slick-list {
  padding: 0 20px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    height: 100%; width: 20px;
    top: 0; left: 0;
    z-index: 1; pointer-events: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0f6fd+0,e0f6fd+40,e0f6fd+100&1+0,0.75+40,0+100 */
    background: -moz-linear-gradient(left, rgba(224,246,253,1) 0%, rgba(224,246,253,0.75) 40%, rgba(224,246,253,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(224,246,253,1) 0%,rgba(224,246,253,0.75) 40%,rgba(224,246,253,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(224,246,253,1) 0%,rgba(224,246,253,0.75) 40%,rgba(224,246,253,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f6fd', endColorstr='#00e0f6fd',GradientType=1 ); /* IE6-9 */
  }
  &:after {
    content: '';
    position: absolute;
    height: 100%; width: 20px;
    top: 0; right: 0;
    z-index: 1; pointer-events: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0f6fd+0,e0f6fd+60,e0f6fd+100&0+0,0.75+60,1+100 */
    background: -moz-linear-gradient(left, rgba(224,246,253,0) 0%, rgba(224,246,253,0.75) 60%, rgba(224,246,253,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(224,246,253,0) 0%,rgba(224,246,253,0.75) 60%,rgba(224,246,253,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(224,246,253,0) 0%,rgba(224,246,253,0.75) 60%,rgba(224,246,253,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e0f6fd', endColorstr='#e0f6fd',GradientType=1 ); /* IE6-9 */
  }
}


/////////////////////////////////////
//SLIDER TYPE 1
/////////////////////////////////////
.slider-t1 {

  .c-slider-arr {
    &.prev-slide {
      left: 0;
    }
    &.next-slide {
      right: 0;
    }
  }
}


/////////////////////////////////////
//SLIDER TYPE 2
/////////////////////////////////////
.slider-t2 {
  margin-left: -20px;
  margin-right: -20px;

  @include media-breakpoint-only(xs) {
    .c-slider-arr {
      &.prev-slide {
        left: 0;
      }
      &.next-slide {
        right: 0;
      }
    }
  }
}


/////////////////////////////////////
//SLIDER TYPE 3
/////////////////////////////////////
.slider-t3 {
  padding-bottom: 20px;
  margin-top: 30px;

  .slick-list {
    padding: 0;
    text-align: center;
  }

  .slick-slide {
    img {
      display: inline-block;
    }
  }

  .c-slider-arr {
    @include media-breakpoint-up(sm) {
      @include transform(translate(0, 0));
      bottom: 0; top: auto;
      &.prev-slide {
        left: calc(25% - 15px);
      }
      &.next-slide {
        right: calc(25% - 15px);
      }
    }
  }
  @include media-breakpoint-only(md) {
    margin-top: 10px;
  }
}


/////////////////////////////////////
//SLIDER TYPE 4
/////////////////////////////////////
.slider-t4 {
  margin-left: -20px;
  margin-right: -20px;

  .slick-list {
    padding: 0;
    text-align: center;
  }

  .slick-slide {
    img {
      display: inline-block;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    text-align: center;
    li {
      display: inline-block;
      margin: 5px;
      button {
        width: 10px; height: 10px;
        font-size: 0; text-indent: -9999px;
        border: none;
        border-radius: 50%;
        background-color: rgba($red, 0.3);
        @include transition-all(0.4s);
        padding: 0;
      }
      &.slick-active {
        button {
          background-color: rgba($red, 1);
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    margin-left: 20px;
    margin-right: -60px;

    .slick-slide {
      img {
        width: 100%;
      }
    }
  }
  @include media-breakpoint-only(md) {
    margin-top: 30px;
  }
  @include media-breakpoint-only(xs) {
    margin-left: -30px;
    margin-right: -30px;
    .slick-list:after,
    .slick-list:before {
      display: none;
    }
  }
}