// ***********************************
// VARIABLES
// ***********************************

// TYPOGRAPHY
$font-family1: 'Arvo', serif;
$font-family2: 'Arvo', serif;
//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }



// COLORS
$white: #fff;
$black: #565656;
$red: #ed3e7d;
$marble: #ae006d;
$green-dark: #00b0aa;
$green: #76c48b;
$green-light: #d5f5c7;
$blue-light: #e0f6fd;
$brown: #5D402C;

$text: $black;
