html, body {
  height: 100%;
}

html {
  overflow: visible!important;
}

body {
  overflow-x: hidden;
  background-color: $blue-light;
  min-height: 100%;
}

.container-fluid {
  max-width: 1020px;
  padding-left: 20px;
  padding-right: 20px;
  @include media-breakpoint-up(sm) {
    padding-left: 40px;
    padding-right: 40px;
  }
}