::selection {
  background: $red; /* WebKit/Blink Browsers */
  color: $white!important;
}
::-moz-selection {
  background: $green-light; /* Gecko Browsers */
  color: $white!important;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}
a:focus, a:active,
button{
  outline: none!important;
}
a{
  color: $text;
  outline: none;
}

a:hover, a:active, a:focus, a:visited {
  @include transition-all(.4s);
  text-decoration: none;
  color: inherit;
}
a.underline:hover, a.underline:active, a.underline:focus, a.underline:visited {
  text-decoration: underline;
}

ul{
  margin: 0;
  padding: 0;
}

ul li{
  list-style-type: none;
}

img {
  height: auto;
  max-width: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

.clearfix {
  &:after,
  &:before{
    content: "";
    display: table;
    clear: both;
  }
}

.center {
  text-align: center;
}

@include media-breakpoint-up(md) {
  .md-float-right {
    float: right;
  }
}